<?xml version="1.0" encoding="UTF-8"?>
<language type="English">
	<translation from="/me is listening to &quot;%album%&quot; (headphones)&apos;&apos;8" to="/me is listening to &quot;%album%&quot; (headphones)&apos;&apos;8"/>
	<translation from="/me is listening to &quot;%artist%&quot; (headphones)&apos;&apos;8" to="/me is listening to &quot;%artist%&quot; (headphones)&apos;&apos;8"/>
	<translation from="/me is listening to &quot;%song%&quot; (headphones)&apos;&apos;8" to="/me is listening to &quot;%song%&quot; (headphones)&apos;&apos;8"/>
	<translation from="/me is listening to &quot;%song%&quot; by &quot;%artist%&quot; (headphones)&apos;&apos;8" to="/me is listening to &quot;%song%&quot; by &quot;%artist%&quot; (headphones)&apos;&apos;8"/>
	<translation from="Automatically Saved Messages" to="Automatically Saved Messages"/>
	<translation from="Away since %time%." to="Away since %time%."/>
  <translation from="Clear" to="Clear"/>
	<translation from="Click for pending events" to="Click for pending events"/>
	<translation from="Current Song" to="Current Song"/>
	<translation from="Default Group" to="Default Group"/>
	<translation from="Events: Away state" to="Events: Away state"/>
	<translation from="Events: Back state" to="Events: Back state"/>
	<translation from="Events: Idle back" to="Events: Idle back"/>
	<translation from="Events: Invisible state" to="Events: Invisible state"/>
	<translation from="Events: Next Event" to="Events: Next Event"/>
	<translation from="Events: Screensaver End" to="Events: Screensaver End"/>
	<translation from="Events: Screensaver Start" to="Events: Screensaver Start"/>
	<translation from="Events: Song Change" to="Events: Song Change"/>
  <translation from="Events Pending; %event%" to="Events Pending; %event%"/>
  <translation from="Idle since %time%." to="Idle since %time%."/>
  <translation from="Multiple Events Pending; First: %event%" to="Multiple Events Pending; First: %event%"/>
  <translation from="No Contacts Found" to="No Contacts Found"/>
	<translation from="No Pending Events" to="No Pending Events"/>
	<translation from="Random Message" to="Random Message"/>
	<translation from="Saved Messages..." to="Saved Messages..."/>
	<translation from="Set Globally Away" to="Set all Away"/>
	<translation from="Set Globally Back" to="Set all Back"/>
	<translation from="Set Globally Idle" to="Set all Idle"/>
	<translation from="Set all Away" to="Set all Away"/>
	<translation from="Set all Back" to="Set all Back"/>
	<translation from="Set all Idle" to="Set all Idle"/>
	<translation from="Set all Invisible" to="Set all Invisible"/>
	<translation from="dialogActionsAlertWindow" to="Alert Window"/>
	<translation from="dialogActionsExecuteProgram" to="Execute Program"/>
	<translation from="dialogActionsProgramAction" to="Program Action"/>
	<translation from="dialogActionsSendMessage" to="Send Message"/>
	<translation from="dialogActionsSetStatus" to="Set Status"/>
	<translation from="dialogActionsSound" to="Sound"/>
	<translation from="dialogActionsSystrayAlert" to="Systray Alert"/>
	<translation from="dialogAdvanced" to="Advanced"/>
	<translation from="dialogAdvancedAction" to="Action"/>
	<translation from="dialogAdvancedEnabled" to="Enabled"/>
	<translation from="dialogAdvancedType" to="Type"/>
	<translation from="dialogAwayAdd" to="Add Away Message"/>
	<translation from="dialogAwayMedium" to="Medium"/>
	<translation from="dialogAwayStatus" to="Status"/>
	<translation from="dialogEventAdd" to="Add Event"/>
	<translation from="dialogEventsContactAlert" to="Contact Alert"/>
	<translation from="dialogEventsDescription" to="Events include sounds, away states, pop-ups, hotkeys, and more."/>
	<translation from="dialogEventsHotkey" to="Hotkey"/>
	<translation from="dialogEventsIdleTime" to="Idle Time"/>
	<translation from="dialogEventsName" to="Events"/>
	<translation from="dialogEventsProgramGenerated" to="Program Generated"/>
	<translation from="dialogEventsScheduler" to="Scheduler"/>
	<translation from="dialogGeneral" to="General"/>
	<translation from="systrayUnknownAction" to="&lt;b&gt;Event Error:&lt;/b&gt;&lt;br&gt;Unknown action: %action%"/>
	<translation from="textErrorAwayUniqueLabel" to="You must enter a unique label for this message."/>
	<translation from="textErrorEventHotkey" to="Please select a hotkey to use."/>
	<translation from="textErrorEventType" to="Please type in an event type first."/>
	<translation from="textErrorSelectActionType" to="Please select an action type"/>
	<translation from="textErrorSelectAwayToEditAdd" to="Please select an away message to edit, or choose add"/>
	<translation from="textErrorSelectAwayToRemove" to="Please select an away message to remove."/>
	<translation from="textErrorSelectEventToEditAdd" to="Please select an event to edit or click add to create a new one"/>
	<translation from="textErrorSelectEventToRemove" to="Please select an event to remove"/>
	<translation from="textErrorSelectEventType" to="Please select an event type"/>
	<translation from="textNoticeAwayRemove" to="Are you sure you wish to remove this message?"/>
	<translation from="textNoticeChangeConnected" to="There are events connected to this away message which may lose functionality, are you sure you wish to change its label?"/>
	<translation from="titleError" to="Trillian Error"/>
	<translation from="titleNotice" to="Trillian Notice"/>
</language>
